
*{
  font-family: "Montserrat", sans-serif;
}

.touchimage{
    width: 350px;
    height: 350px;
}

.touchtext{
    font-weight: 800;
    font-size: 25px;
}

.touchpara,.touch-inp{
    color: #929292;
}

.touchpara{
    font-weight: 400;
}


.touch-inp{
    padding-bottom: 5px;
    border-bottom: 1px solid #C2C2C2;
}
.touch-but{
    width: 210px;
    padding: 8px 25px;
    background-color: #151515;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px;    
}



.dimup{
    border: 1px solid #C2C2C2;
}

.bld2{
    padding-bottom: 20px;
    border-bottom: 1px solid #C2C2C2;
}

.itms{
    margin-bottom: 12px;
}

.bld{
    font-weight: 500;
}

.collecpara{
    color: #929292;
}
.ourhe{
    font-weight: 800;
    font-size: 23px;
}
.tit{
    font-size: 18px;
}

.nav-row{
    font-size: 13px;
}

.dropdown-item{
    font-weight: 600;
}

.menufle{
    display: flex;
    justify-content: space-between;
}

li{
    margin-top: 12px;
}




.custom-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.custom-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;         /* inactive color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-dots button:hover {
  transform: scale(1.2);
  background-color: #999;         /* slightly darker on hover */
}

.custom-dots button.active {
  background-color: #333;         /* active color */
}
